{% extends "base.html" %}
{% from "jinjamacros.html" import render_field %}

{% block title %}
Simple Flask -- Change Password
{% endblock %}

{% block content %}
    <section>
        <h1 style="clear:both">Change password for {{ user.email }}</h1>
        <form action="" method="post">
            {{ form.hidden_tag()}}
            <table>
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.password2, size=50) }}
                {{ render_field(form.submit) }}
            </table>
            <p>Password policy:</p>
            <p>Include at least one number and a mix of upper and lower case</p>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}