{% extends "base.html" %}

{% block title %}
Simple Flask - Index
{% endblock %}

{% block content %}
                <article>
                    <header>
                        <h1>Welcome</h1>
                        <p>This is a simple flask demo site.</p>
                    </header>

                    <section>
                        <h2>How it works</h2>
                        <p>The site uses Flask, SQLAlchemy, Flask-Login, and Flask-Migrate.</p>
                    </section>
                    <footer>
                        <h3>Note</h3>
                        <p>This is a demo.</p>
                    </footer>
                </article>
{% endblock %}